# Ignoring the following files:

# Compiled Output
/build
/dist
/tmp

# dependencies
/node_modules
/records/node_modules

# IDEs and Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json